{% extends 'base.html.twig' %}

{% block body %}
    <div class="container login">
        <div class="row registro">
			<div class="myform form">
               	<form action="" method="post" name="login">
                       <div class="form-group">
                        {{ form_start(form) }}
            						{{ form_widget(form) }}
            						{{ form_end(form) }}
                       </div>
                </form>
			</div>
		</div>
	</div>
{% endblock %}


