{% extends 'base.html.twig' %}

{% block body %}
<i class=" backButton fa fa-chevron-left" style="color: white" onclick="history.back()"></i>
<div class="secciones descripcion" >
	<!-- <div>
	<img src="{{ asset('img/aru.jpg') }}">		
	</div> -->
	<div class="displayFlex">
		<h4>Ariadna Mierez</h4>
		<p>Es gestora cultural. Se formó en la carrera de <b>Artes Combinadas de la UBA</b>, en la Diplomatura en Gestión Cultural del Paco Urondo y en la carrera de <b>Gestión del Arte y la Cultura de la UNTREF</b>.  <br>   <br> 
		Si tenés un espacio cultural (o estás en vías de tenerlo), sos músique o tenés algún otro proyecto artístico en mente y te está costando llevar todas las tareas adelante vos sole, <a href="https://www.instagram.com/hastalachinaprodu/?hl=es-la" target="_blank"><u>no dudes en consultarnos.</u></a>
		</p>
	</div>
</div>
 {% endblock %}
