/* span  {
  width: 95vw;
  height: 4%;
  position: absolute;
  position: fixed;
  margin: 2%;
  display: flex;
}
 */
.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #3b0707; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}

.sidenav a {
  padding: 5px 15px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 22px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}
