@media (min-width: 400px) and (orientation: landscape){
    * {
        font-size: 13px!important
    }
    body {
        margin: auto;
        width: 70vw;
    }
    .divFull {
        height: 100vh;
    }
    h4 {
        font-size: 1.5rem!important;
    }
    h2 {
        font-size: 2rem!important
    }
    #enlaces a:hover, .iconos a:hover, .iconos a:focus {
      transform: scale(1.1);
      transition: transform .8s; 
      transform-origin: 50% 50%;
    }
    .oculto p {
         margin: 0%;
    }
    #descripcionHome {
        height: 35vh;
        width: 70%;
    margin: 10%auto;
        justify-content: center;
        margin-bottom: 10%
    }
    #descripcionHome h2 {
        margin-bottom: 10%
    }
    footer .fab, footer .fas{
        font-size: 2rem!important;
        margin-top: 10%;
    }
    .secciones {
        width: 100%;
    }
    .secciones p, #tituloGestion {
        margin: 0;
    }
    .descripcion div {
        width: 100%;
        background-color: black;
        padding: 5%;
    }
    #wrapper {
        width: 100vw;
        height: 100%;
        margin-left: -21%;
    }
    .representacion #titulo, #tituloGestion {
        padding: 8vh 0% 18vh;
        height: 18vh;
    }
    .artistas {
        width: 50%;
        height: 100%;
        background-position: center;
    }
    .bookingBotones {
        left: 0;
    }
    #bookingTitle {
        margin-top: -20%;
    }
    #intro-2 img, #intro-1 img {
        width: auto;
    }

}
@media (min-width: 922px) and (orientation: landscape){
    * {
        font-size: 18px!important;
    }
}
